# Initial Preprocessing and Feature Engineering

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
import seaborn as sns
sns.set()
pd.set_option('display.max_columns',500)
from IPython.display import display
from scipy import stats

In [2]:
import sys
sys.path.append(r'C:\Users\User\Documents\Programming Practice\my_modules')

In [3]:
from trav_functions import *
from trav_sklearn import SimpleImputerWithFeatureNames

In [4]:
data_raw = '../data/raw/'
data_interim = '../data/interim/'
data_external = '../data/external/'
data_processed = '../data/processed/'

In [5]:
df_train = pd.read_feather(data_interim + 'train_01.ftr')
df_test = pd.read_feather(data_interim + 'test_01.ftr')

df_train = df_train.set_index(df_train.columns[0])
df_test = df_test.set_index(df_test.columns[0])

C:\Users\User\Anaconda3\lib\site-packages\pyarrow\pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [6]:
label = 'Survived'

# Baseline

In [7]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer

In [8]:
train_null_counts = get_null_counts(df_train)
test_null_counts = get_null_counts(df_test)

Ok, how's this going to work. We're going to apply preprocessing transformers to individual columns. The output of these sklearn transformers will be an array. We'll just convert that to a pandas dataframe to add the column names.

So, in the end I'll have a function which: 
1. takes in a dataframe, 
2. takes out the label, 
3. Drops columns we don't want to use
4. Applies column transformations
4. Creates features
5.

First, let's just impute nulls. Ok, we've managed to do just that.
Now let's do ordinal encoding of the categories

In [9]:
original_cols = list(df_train.columns)
cat_cols = list(df_train.select_dtypes('category').columns)
num_cols = list(df_train.select_dtypes(np.number).columns)
remainder_cols = list(df_train.columns.drop(list(cat_cols) + list(num_cols)))

In [13]:
# One method, use a SimpleImputer on each column individually.

num_imp = SimpleImputerWithFeatureNames(strategy='median')
cat_imp = SimpleImputerWithFeatureNames(strategy='constant',fill_value='missing')

In [20]:
cat_enc = OrdinalEncoder()

In [22]:
cat_enc.fit_transform(test2)

array([[2., 1., 2.],
       [0., 0., 0.],
       [2., 0., 2.],
       ...,
       [2., 0., 2.],
       [0., 1., 0.],
       [2., 1., 1.]])

In [17]:
test1 = num_imp.fit_transform(df_train[num_cols])
test1

      Age  SibSp  Parch     Fare
0    22.0    1.0    0.0   7.2500
1    38.0    1.0    0.0  71.2833
2    26.0    0.0    0.0   7.9250
3    35.0    1.0    0.0  53.1000
4    35.0    0.0    0.0   8.0500
..    ...    ...    ...      ...
886  27.0    0.0    0.0  13.0000
887  19.0    0.0    0.0  30.0000
888  28.0    1.0    2.0  23.4500
889  26.0    0.0    0.0  30.0000
890  32.0    0.0    0.0   7.7500

[891 rows x 4 columns]

In [15]:
test2 = cat_imp.fit_transform(df_train[cat_cols])
test2

    Pclass     Sex Embarked
0        3    male        S
1        1  female        C
2        3  female        S
3        1  female        S
4        3    male        S
..     ...     ...      ...
886      2    male        S
887      1  female        S
888      3  female        S
889      1    male        C
890      3    male        Q

[891 rows x 3 columns]

In [16]:
top_value_counts(test2)

field    Pclass            Sex       Embarked
info        Cat Freq       Cat Freq       Cat Freq
0      n_unique    3  n_unique    2  n_unique    4
1             3  491      male  577         S  644
2             1  216    female  314         C  168
3             2  184         -    -         Q   77
4             -    -         -    -   missing    2
5             -    -         -    -         -    -